{% extends 'base.html.twig' %}

{% block title %}Utilisateurs - create{% endblock %}
{% block section %}
    <h3>Création de Produits :</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/produits">Page d'accueil</a>
{% endblock %}
