{% extends 'base.html.twig' %}

{% block title %}Produits - edit{% endblock %}
{% block section %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/produits">Page d'accueil</a>
{% endblock %}
