{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/produits.index.css') }}">{% endblock %}
{% block section %}
    <div id="general">
        <div class="menu">
            <a href="/produits/create">Create an product</a>
        </div>
        <div id="containerAll">
        {% for produit in produits %}
            <div class="container">
                <div>
                    {{ produit.ProductName }}
                </div>
                <div>
                    {{ produit.ProductPrice }} €
                </div>
                <div>
                    <a href="/produits/edit/{{ produit.Id }}">Modification</a>
                </div>
                <div>
                    <a href="/produits/delete/{{ produit.Id }}">Suppression</a>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
