body{
    margin: 0;
    padding: 0;
    background-color: rgba(223,228,21,.5);
}

header{
    font-family: 'PT Sans', sans-serif;
}

section{
    font-family: 'Karla', sans-serif;
    margin-top: 10%;
}
.container_titreImage{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
}

.titre{
    text-decoration: underline;
}

.logo{
    width:100px;
    height:100px;
}

.container_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
    font-family: 'PT Sans', sans-serif;
}

.container_menu div a{
    text-decoration: none;
    color:#000;
}