#general{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sous-titre{
    word-break: break-word;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.containerPerson{
    display: flex;
    flex-direction: row;
}

.containerPerson a{
    margin-left: 10%;
}