#general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#containerAll{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:2.5% auto;
}

.container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    margin-left: 1%;
}