<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('assets/styles/accueil.base.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container_titreImage">
                <div class="image">
                    <img src="{{ asset('assets/images/logo/logo.jpg') }}" class="logo">
                </div>
                <div class="titre">
                    <h1>Mon premier site web :</h1>
                </div>
            </div>
            <div class="container_menu">
                <div>
                    <a href="/">Page d'accueil</a>
                </div>
                <div>
                    <a href="/users/">Utilisateurs</a>
                </div>
                <div>
                    <a href="/email/" class="email">Email</a>
                </div>
                <div>
                    <a href="/produits/">Produits</a>
                </div>
            </div>
        </header>
        <section>
        {% block section %}{% endblock %}
        </section>
    </body>
    {% block javascripts %}{% endblock %}
</html>