{% extends 'base.html.twig' %}

{% block title %}Utilisateurs - accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/users.index.css') }}">
{% endblock %}
{% block section %}
    <div id="general">
        <div class="menu">
            <div>
                <a href="/users/create">Create an user</a>
            </div>
        </div>
        <div class="sous-titre">
            {% for user in Users %}
                <div class="containerPerson">
                    {{ user.Nom }}
                    {{ user.Prenom }}
                    {{ user.Email }}
                    {{ user.Age }} ans
                    <a href="/users/delete/{{ user.Id }}">Suppression</a>
                    <a href="/users/edit/{{ user.Id }}">Modification</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
