{% extends 'base.html.twig' %}

{% block title %}Email - create{% endblock %}
{% block section %}
    <h3>Création d'Email</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/email">Page d'accueil</a>
{% endblock %}
