{% extends 'base.html.twig' %}

{% block title %}Email - edit{% endblock %}
{% block section %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/email">Page d'accueil</a>
{% endblock %}
