{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/email.index.css') }}">
{% endblock %}
{% block section %}
    <div id="general">
        <div class="menu">
            <div>
                <a href="/email/create">Create an E mail</a>
            </div>
        </div>
        <div class="sous-titre">
            {% for mail in Mails %}
                <div class="containerPerson">
                    {{mail.Sender }}
                    {{mail.Recipient }}
                    {{mail.Object }}
                    {{mail.Message }}
                    <a href="/email/delete/{{ mail.Id }}">Suppression</a>
                    <a href="/email/edit/{{ mail.Id }}">Modification</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
